---
title: Portfolio
articleName: Test
scrollingText: wagwan my g, let me know what you think bless
---

{% extends "layouts/portfolio.njk"%}

{% set _works%}
"My Poem",
"My Story",
"My Zine"
{% endset %}



