---
title: Portfolio
articleName: Test
scrollingText: wagwan my g, let me know what you think bless
---

{% extends "layouts/portfolio.njk"%}

{% set _works%}
"Layout 1",
"Layout 2",
"My Zine"
{% endset %}



