{% extends "layouts/root.njk" %}
{% block content %}

<script src="https://cdn.jsdelivr.net/npm/interactjs/dist/interact.min.js"></script>
<script src="/scripts/interactDrag.js"></script>
<script src="/scripts/parallax.js"></script>

<main class="pt-2 flex justify-center">
    {# <div class="dragContainer">
        <div class="item draggable"><img class="w-150 h-auto blot-portrait" src="/res/PLACEHOLDER/gnome1.jpg"/></div>
        <div class="item draggable"><img class="w-150 blot-portrait" src="/res/PLACEHOLDER/gnome2.png"/></div>
        <div class="item draggable"><img class="w-150 blot-portrait" src="/res/PLACEHOLDER/gnome3.png"/></div>

        <div class="item draggable"><img class="w-150 blot-portrait" src="/res/PLACEHOLDER/gnome4.png"/></div>
        <div class="item draggable"><img class="w-150 blot-portrait" src="/res/PLACEHOLDER/gnome5.png"/></div>
   </div> #}

   <div class="puzzle-container">
          <img class="background" src="/res/static/puzzleBack.png"/>
          <div class="piece p1 draggable"><img src="/res/static/piece1.png"/></div><div class="link l1"><p><a href="">"Portfolio"</a></p></div>
          <div class="piece p2 draggable"><img src="/res/static/piece2.png"/></div><div class="link l2"><p><a href="">"Collaborative Work"</a></p></div>
          <div class="piece p3 draggable"><img src="/res/static/piece3.png"/></div><div class="link l3"><p><a href="">"Wagwan"</a></p></div>
          <div class="piece p4 draggable"><img  src="/res/static/piece4.png"/></div> <div class="link l4"><p><a href="">"Contact Information"</a></p></div>
   </div>
</main>
{% endblock %}