{% extends "layouts/root.njk" %}
{% block content %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.0/gsap.min.js"></script>

<script type="module">
import {animateBlob} from '/scripts/blobAnimation.js';
$(document).ready(function(){ 
	
	// init
	var $expansionContainer = $("#expansionContainer");
	var $expand = $('.item.active').clone();

	var works = [{{_works | safe}}]; // get pieces of work
	var work_links = []; // get links

	// pop links
	for (var i = 0; i < works.length; i++) {
    	work_links[i] = '/Portfolio/'+works[i].toLowerCase().replace(' ','') + '.html';
	}
	var $workTitle = $("#workTitle");
	var $workLink = $("#workLink");

	// initialise
	$expand.removeClass("active"); // remove styling
	$expansionContainer.html($expand);
	$workTitle.html(works[0]);
	$workLink.attr("href", work_links[0]);

	animateBlob();

    $('.item > img').mouseenter(function(){
		if( !($(this).parent()).hasClass("active")){
			$expansionContainer.empty();
			$(".item").removeClass("active"); // remove active ref from all menu objects
			($(this).parent()).addClass("active"); // add to this one :)
		
			var $expand = ($(this).parent()).clone();
			$expand.attr('class', 'item'); // remove styling
			$expansionContainer.html($expand); // update container

			animateBlob();

			$workTitle.html(works[($(this).parent()).index(($(this).parent()))]);
		}
   });

});
</script>



<main class="pt-8">
	<!-- Split into two main areas - stage and menu where hover + click on an element in menu expands it into stage -->
	<div class="stage">
		<div id="expansionContainer"></div>
		<div id="expandedTitleContainer" class="flex flex-row absolute z-20 ml-96 mt-20">
			<div class="textContainer px-2">
				<p id="workTitle" class="m-0"></p>
			</div>

			<a id="workLink" href="/Portfolio/layout_1.html"><div class="textContainer btn-secondary px-2">
				<p class="m-0">Read</p>
			</div></a>
		</div>
	</div>
	<div class="menu -mt-40">
		<div class="flex-grid">
			<!-- row 1 -->
			<div class="active item">
				{% include "partials/blobs.njk" %}
				<img class="blot-portrait" src="/res/static/goblin.png"/>
			</div>
			<div class="item"></div>
			<div class="item"></div>

			<!-- row 2 -->
			<div class="item"></div>
			<div class="item">
				{% include "partials/blobs.njk" %}
				<img class="blot-portrait" src="/res/static/goblin2.png"/>
			</div>
			<div class="item"></div>

			<!-- row 3 -->
			<div class="item">
				{% include "partials/blobs.njk" %}
				<img class="blot-portrait" src="/res/static/goblin3.png"/>
			</div>
			<div class="item mt-32 ml-24">
				{% include "partials/blobs.njk" %}
				<img class="blot-portrait" src="/res/static/goblin4.png"/>
			</div>
			<div class="item"></div>

			<!-- row 3 -->
			<div class="item -ml-16">
				{% include "partials/blobs.njk" %}
				<img class="blot-portrait" src="/res/static/gnome2.png	"/>
			</div>
			<div class="item mt-24 ml-12">
				{% include "partials/blobs.njk" %}
				<img class="blot-portrait" src="/res/static/gnome1.png"/>
			</div>
		</div>
	</div>
</main>
{% endblock %}