{% extends "layouts/root.njk" %}
{% block content %}

<script>
$(document).ready(function(){ 
	// init
	var $expansionContainer = $("#expansionContainer");
	var $expand = $('.item > img.active').clone();

	var works = [{{_works | safe}}]; // get pieces of work
	var $workTitle = $("#workTitle");

	// initialise
	$expand.addClass("h-100");
	$expand.removeClass("active"); // remove styling
	$expansionContainer.html($expand);
	$workTitle.html(works[0]);

    $('.item > img').mouseenter(function(){
		
		if( !$(this).hasClass("active")){

			$expansionContainer.empty();
			$('.item > img').removeClass("active"); // remove active ref from all menu objects
			$(this).addClass("active"); // add to this one :)
		
			var $expand = $(this).clone();
			$expand.addClass("h-100");
			$expand.removeClass("active"); // remove styling
			$expansionContainer.html($expand);

			$workTitle.html(works[$('.item > img').index($(this))]);
		}
   });

   if($('.item > img').hasClass("active")){
	   	console.log("Hello");
		/*var $expand = $(this).clone();
		$expansionContainer.html($expand);*/
   }

});
</script>


<main class="pt-2">
	<!-- Split into two main areas - stage and menu where hover + click on an element in menu expands it into stage -->
	<div class="stage">
		<div id="expansionContainer"></div>
		<div class="flex flex-row absolute z-2 ml-25 mt-5">
			<div class="textContainer pr-05 pl-05">
				<p id="workTitle" class="m-0"></p>
			</div>

			<a href="/Portfolio/layout_1.html"><div class="textContainer btn-secondary pr-05 pl-05">
				<p class="m-0">Read</p>
			</div></a>
		</div>
	</div>
	<div class="menu">
		<div class="flex-grid">
			<div class="item"><img class="active blot-portrait" src="/res/static/goblin.png"/></div>
			<div class="item"><img class="blot-portrait" src="/res/static/goblin.png"/></div>
			<div class="item"><img class="blot-portrait" src="/res/static/goblin2.png"/></div>

			<div class="item"><img class="blot-portrait" src="/res/static/goblin3.png"/></div>
			<div class="item"><img class="blot-portrait" src="/res/static/goblin4.png"/></div>
			<div class="item"><img class="blot-portrait" src="/res/static/gnome1.png"/></div>

			<div class="item"><img class="blot-portrait" src="/res/static/goblin.png"/></div>
			<div class="item"><img class="blot-portrait" src="/res/static/goblin.png"/></div>
			<div class="item"><img class="blot-portrait" src="/res/static/goblin.png"/></div>
		</div>
	</div>
</main>
{% endblock %}