<!DOCTYPE html>
<html prefix="og: https://ogp.me/ns#">
    <head>
        {% include "partials/head.njk" %}

        <link rel="stylesheet" type="text/css" href="/styles/index.css" />
    
    </head>

    <body>

        {% if title != 'Home' %}
            {% include "partials/header.njk" %}
        {% endif %}

        {% block content %}
        {% endblock %}

        {% include "partials/footer.njk" %}

    </body>
</html>