<!DOCTYPE html>
<html prefix="og: https://ogp.me/ns#">
    <head>
        {% include "partials/head.njk" %}

        <link rel="stylesheet" type="text/css" href="/styles/tailwind.css" />
        <link rel="stylesheet" type="text/css" href="/styles/index.css" />
    
    </head>

    <body class="{{background}}">

        {% if title != 'Home' %}
            {% include "partials/header.njk" %}
        {% endif %}

        {% block content %}
        {% endblock %}

        {% include "partials/footer.njk" %}

    </body>

    <script>
        $('body').flowtype({
        minimum   : 500,
        maximum   : 1200,
        minFont   : 8,
        maxFont   : 16,
        fontRatio : 60
        });
    </script>
</html>