{% extends "layouts/root.njk" %}
{% block content %}


<main>
    <div class="w-1/2 text-center">
        <img  class="w-1/2 h-auto"src="/res/static/goblin.png"/>
	</div>
	<!-- Split into two main areas - stage and menu where hover + click on an element in menu expands it into stage -->
	<div class="w-1/2">
		<div class="contentBody -mt-24 mx-20 mb-20">
			{% block textContent %}{% endblock %}
		</div>
	</div>
</main>

{% endblock %}