{% extends "layouts/root.njk" %}
{% block content %}


<main>
    <div class="w-50 text-center">
        <img  class="w-50 h-auto"src="/res/static/goblin.png"/>
	</div>
	<!-- Split into two main areas - stage and menu where hover + click on an element in menu expands it into stage -->
	<div class="w-50">
		<div class="contentBody -mt-6 ml-5 mr-5 mb-5">
			{% block textContent %}{% endblock %}
		</div>
	</div>
</main>

{% endblock %}