{% extends "layouts/root.njk" %}
{% block content %}
<script type="module">
import {animateBlob} from '/scripts/blobAnimation.js';
animateBlob(".imageContainer > .item > svg > path");
</script>

<main>
    <div class="imageContainer mt-22 w-1/2 text-center relative">
		<div class="item w-full">
			{% include "partials/blobs.njk" %}
			<img class="relative" src="/res/static/goblin.png"/>
		</div>
	</div>
	<!-- Split into two main areas - stage and menu where hover + click on an element in menu expands it into stage -->
	<div class="contentWrapper w-1/2 relative text-center -mt-32">
		{% include "partials/blobs.njk" %}
		<div class="contentBody mx-20 absolute">
			{% block textContent %}{% endblock %}
		</div>
	</div>
</main>

{% endblock %}