<header class="pt-2 pl-10">
	<nav>
		<div class="textContainer p-05">
			<p class="m-0">Christian Carlson</p>
		</div>

		
			<div class="dropdown">
			<div class="textContainer p-05 mt-1 bs-bb w-100">
				<div class="dropdown-btn">
					<img src="/res/favicon/menuArrow.ico" width="16px"/><p class="m-0">Explore</p>
				</div>
			</div>

				<div class="dropdown-content w-100">
					<div class="textContainer p-05 bs-bb w-100"><a href="">Home</a></div>
					<div class="textContainer p-05 bs-bb w-100"><a href="/portfolio.html">Portfolio</a></div>
					<div class="textContainer p-05 bs-bb w-100"><a href="">Contact</a></div>
				</div>
			</div>
		
	</nav>

	<div class="titleCard w-25">
		<div class="textContainer p-05 jc-center">
			<p class="m-0">{{title}}</p>
		</div>
		<!--<img class="h-a w-100" src="/res/static/kaws3.jpg"/>-->
		<marquee direction="right" class="primary-font-stack fs-070 primary-color">{{scrollingText}}</marquee>
	</div> 
</header>